.sb-sidebar {
  width: 60px;
  background-color: #111;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
   */
   gap: 30px;
  align-items: center;
  height: 100vh;
  position: fixed;
  padding-top: 25px;
}


.sb-icon-wrapper {
  width: 60px;
  height: 40px;
  /* margin: 10px 0; */
  color: rgb(247, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
  text-decoration: none;
}

/* .sb-icon-wrapper:hover {
  background-color: #f50505;
} */

.sb-icon-wrapper.sb-active {
  background-color: #7a5af8;
}

.sb-icon {
  font-size: 20px;
}